<div class="div-main">
    <div class="title-page">
        <h2>Admission</h2>
    </div>

    <div class="row d-flex justify-content-center py-4">
        <div class="col-12 form-card">
            <form>
                <mat-card class="shipping-card">
                    <mat-card-header>
                        <mat-card-title>Admission Information</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput placeholder="IPP">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput placeholder="Catégorie">

                                </mat-form-field>
                            </div>
                            
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput placeholder="NOM">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput placeholder="PRNOM">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput placeholder="Téléphone">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput type="date" placeholder="Date de naissance">

                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <textarea matInput placeholder="Address"></textarea>

                                </mat-form-field>
                            </div>
                       
                        </div>
                     
                      
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <textarea name="" placeholder="Motif" matInput id="" cols="3" rows="3"></textarea>

                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <textarea name="" placeholder="Historique" matInput id="" cols="3"
                                        rows="3"></textarea>

                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="full-width" appearance="outline">
                                    <textarea name="" placeholder="Au total" matInput id="" cols="3" rows="3"></textarea>

                                </mat-form-field>
                            </div>
                        </div>
                   
                
                 
                     


                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" type="submit" class="btn-submit-form">Submit</button>
                    </mat-card-actions>
                </mat-card>
            </form>

        </div>
    </div>

</div>